/* nav bar css */
.mid{
    display: block;
    width: 33%;
    margin: 8px auto;
}    
.navbar{
    display:  inline-block;
}
.navbar li{
    text-shadow: 0 0 2px rgb(255, 180, 180);
    display: inline-block;
    font-size: 17px;
    padding: 2px;
}
.navbar li a{
    text-decoration: none;
    background-color: rgb(39, 3, 3);
    border-radius: 5px;
    color: rgb(255, 180, 180);
    padding: 13px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: white;
}